google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
SQLAlchemy==2.0.25
mysql-connector-python==8.3.0
requests==2.31.0
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
cloud-sql-python-connector==1.7.0